---
layout: ecetb
title: PCB Stackups
---
<h1>Recommended PCB Stackups</h1>

<h2>2-Layer Stackups</h2>
<table class="stackup">
    <tr>
        <th align="left">1</th>
        <th align="right"></th>
        <th align="center">Preferred</th>
        <th align="left"></th>
    </tr>   
    <tr>
        <td rowspan=2></td>
        <td align="right">L1</td>
        <td align="center">-- -- -- -- --</td>
        <td align="left">Sig/Pwr</td>
    </tr>    
    <tr>
        <td align="right">L2</td>
        <td align="center">--------------</td>
        <td align="left">Gnd</td>
    </tr>    
</table>

<h2>4-Layer Stackups</h2>
<table class="stackup">
    <tr>
        <th align="left">1</th>
        <th align="right"></th>
        <th align="center">Preferred, recommended</th>
        <th align="left"></th>
    </tr>    
    <tr>
        <td rowspan=5></td>
        <td align="right">L1</td>
        <td align="center">--------------</td>
        <td align="left">Gnd</td>
    </tr>    
    <tr>
        <td align="right">L2</td>
        <td align="center">-- -- -- -- --</td>
        <td align="left">Sig/Pwr</td>
    </tr>    
    <tr>
        <td align="right"></td>
        <td align="center">(CORE)</td>
        <td align="left"></td>
    </tr>    
    <tr>
        <td align="right">L3</td>
        <td align="center">-- -- -- -- --</td>
        <td align="left">Sig/Pwr</td>
    </tr>    
    <tr>
        <td align="right">L4</td>
        <td align="center">--------------</td>
        <td align="left">Gnd</td>
    </tr>    
</table>
<table class="stackup">
    <tr>
        <th align="left">2</th>
        <th align="right"></th>
        <th align="center">Preferred, low-density only</th>
        <th align="left"></th>
    </tr>    
    <tr>
        <td rowspan=5></td>
        <td align="right">L1</td>
        <td align="center">-- -- -- -- --</td>
        <td align="left">Sig/Pwr</td>
    </tr>    
    <tr>
        <td align="right">L2</td>
        <td align="center">--------------</td>
        <td align="left">Gnd</td>
    </tr>    
    <tr>
        <td align="right"></td>
        <td align="center">(CORE)</td>
        <td align="left"></td>
    </tr>    
    <tr>
        <td align="right">L3</td>
        <td align="center">--------------</td>
        <td align="left">Gnd</td>
    </tr>    
    <tr>
        <td align="right">L4</td>
        <td align="center">-- -- -- -- --</td>
        <td align="left">Sig/Pwr</td>
    </tr>    
</table>
<table class="stackup">
    <tr>
        <th align="left">3</th>
        <th align="right"></th>
        <th align="center">Acceptable</th>
        <th align="left"></th>
    </tr>    
    <tr>
        <td rowspan=5></td>
        <td align="right">L1</td>
        <td align="center">-- -- -- -- --</td>
        <td align="left">Sig</td>
    </tr>    
    <tr>
        <td align="right">L2</td>
        <td align="center">--------------</td>
        <td align="left">Gnd</td>
    </tr>    
    <tr>
        <td align="right"></td>
        <td align="center">(CORE)</td>
        <td align="left"></td>
    </tr>    
    <tr>
        <td align="right">L3</td>
        <td align="center">--------------</td>
        <td align="left">Pwr</td>
    </tr>    
    <tr>
        <td align="right">L4</td>
        <td align="center">-- -- -- -- --</td>
        <td align="left">Sig</td>
    </tr>    
</table>

<h2>6-Layer Stackups</h2>
<table class="stackup">
    <tr>
        <th align="left">1</th>
        <th align="right"></th>
        <th align="center">Preferred, recommended</th>
        <th align="left"></th>
    </tr>    
    <tr>
        <td rowspan=8></td>
        <td align="right">L1</td>
        <td align="center">-- -- -- -- --</td>
        <td align="left">Sig/Pwr</td>
    </tr>    
    <tr>
        <td align="right">L2</td>
        <td align="center">--------------</td>
        <td align="left">Gnd</td>
    </tr>    
    <tr>
        <td align="right"></td>
        <td align="center">(CORE)</td>
        <td align="left"></td>
    </tr>    
    <tr>
        <td align="right">L3</td>
        <td align="center">-- -- -- -- --</td>
        <td align="left">Sig/Pwr</td>
    </tr>    
    <tr>
        <td align="right">L4</td>
        <td align="center">--------------</td>
        <td align="left">Gnd</td>
    </tr>    
    <tr>
        <td align="right"></td>
        <td align="center">(CORE)</td>
        <td align="left"></td>
    </tr>    
    <tr>
        <td align="right">L5</td>
        <td align="center">-- -- -- -- --</td>
        <td align="left">Sig/Pwr</td>
    </tr>    
    <tr>
        <td align="right">L6</td>
        <td align="center">--------------</td>
        <td align="left">Gnd</td>
    </tr>    
</table>
<table class="stackup">
    <tr>
        <th align="left">2</th>
        <th align="right"></th>
        <th align="center">Preferred</th>
        <th align="left"></th>
    </tr>    
    <tr>
        <td rowspan=8></td>
        <td align="right">L1</td>
        <td align="center">-- -- -- -- --</td>
        <td align="left">Sig/Pwr</td>
    </tr>    
    <tr>
        <td align="right">L2</td>
        <td align="center">--------------</td>
        <td align="left">Gnd</td>
    </tr>    
    <tr>
        <td align="right"></td>
        <td align="center">(CORE)</td>
        <td align="left"></td>
    </tr>    
    <tr>
        <td align="right">L3</td>
        <td align="center">-- -- -- -- --</td>
        <td align="left">Sig/Pwr</td>
    </tr>    
    <tr>
        <td align="right">L4</td>
        <td align="center">-- -------- --</td>
        <td align="left">Gnd/Sig</td>
    </tr>    
    <tr>
        <td align="right"></td>
        <td align="center">(CORE)</td>
        <td align="left"></td>
    </tr>    
    <tr>
        <td align="right">L5</td>
        <td align="center">--------------</td>
        <td align="left">Gnd</td>
    </tr>    
    <tr>
        <td align="right">L6</td>
        <td align="center">-- -- -- -- --</td>
        <td align="left">Sig/Pwr</td>
    </tr>    
</table>
<table class="stackup">
    <tr>
        <th align="left">3</th><th align="right"></th>
        <th align="center">Preferred</th>
        <th align="left"></th>
    </tr>    
    <tr>
        <td rowspan=8></td>
        <td align="right">L1</td>
        <td align="center">--------------</td>
        <td align="left">Gnd</td>
    </tr>    
    <tr>
        <td align="right">L2</td>
        <td align="center">-- -- -- -- --</td>
        <td align="left">Sig/Pwr</td>
    </tr>    
    <tr>
        <td align="right"></td>
        <td align="center">(CORE)</td>
        <td align="left"></td>
    </tr>    
    <tr>
        <td align="right">L3</td>
        <td align="center">-- -------- --</td>
        <td align="left">Pwr/Sig</td>
    </tr>    
    <tr>
        <td align="right">L4</td>
        <td align="center">--------------</td>
        <td align="left">Gnd</td>
    </tr>    
    <tr>
        <td align="right"></td><td align="center">(CORE)</td>
        <td align="left"></td>
    </tr>    
    <tr>
        <td align="right">L5</td>
        <td align="center">-- -- -- -- --</td>
        <td align="left">Sig/Pwr</td>
    </tr>    
    <tr>
        <td align="right">L6</td>
        <td align="center">--------------</td>
        <td align="left">Gnd</td>
    </tr>    
</table>

<table class="stackup">
    <tr>
        <th align="left">4</th>
        <th align="right"></th>
        <th align="center">Acceptable</th>
        <th align="left"></th>
    </tr>    
    <tr>
        <td rowspan=8></td>
        <td align="right">L1</td>
        <td align="center">-- -- -- -- --</td>
        <td align="left">Sig</td>
    </tr>    
    <tr>
        <td align="right">L2</td>
        <td align="center">--------------</td>
        <td align="left">Gnd</td>
    </tr>    
    <tr>
        <td align="right"></td>
        <td align="center">(CORE)</td>
        <td align="left"></td>
    </tr>    
    <tr>
        <td align="right">L3</td>
        <td align="center">-- -- -- -- --</td>
        <td align="left">Sig</td>
    </tr>    
    <tr>
        <td align="right">L4</td>
        <td align="center">--------------</td>
        <td align="left">Pwr</td>
    </tr>    
    <tr>
        <td align="right"></td>
        <td align="center">(CORE)</td>
        <td align="left"></td>
    </tr>    
    <tr>
        <td align="right">L5</td>
        <td align="center">--------------</td>
        <td align="left">Gnd</td>
    </tr>    
    <tr>
        <td align="right">L6</td>
        <td align="center">-- -- -- -- --</td>
        <td align="left">Sig</td>
    </tr>    
</table>
