---
layout: ecetb
title: Reflow Ovens
---
<h1>Commercial Prototyping Reflow Ovens</h1>
<h2>IR Reflow Ovens</h2>
<ul>
    <li><a href="https://www.lpkf.com/en/industries-technologies/research-in-house-pcb-prototyping/products/lpkf-protoflow-s4">LPKF</a> (Starting at approx 7000 USD)</li>
    <li><a href="https://www.ddmnovastar.com/reflow-ovens">DDM Novastar</a> (Starting at 4950 USD)</li>
    <li><a href="https://www.fritsch-smt.de/en/reflow/batch">Fritsch</a> (Unknown price)</li>
    <li><a href="https://www.autotronik-smt.de/en/products/reflowoefen/batch-ofen-bt301">Autotronik</a> (Unknown price)</li>
</ul>

<h2>Vapour Phase Reflow Ovens</h2>
<p>Vapour phase reflow soldering requires using "reflow fluid" such as Galden LS230.</p>
<ul>
    <li><a href="https://www.vaporflow.eu/">Vapourflow</a> (Starting at approx 1500 EUR)</li>
    <li><a href="https://www.imdes.de/produkt-kategorie/kondensations-reflow-loetanlagen-en/?lang=en">IMDES</a> (Starting at approx 1600 EUR)</li>
    <il><a href="https://ibl-tech.com/en/batch-soldering/#minilab">IBL-Tech</a> (Starting at approx 10 000 EUR)</il>
    <li><a href="https://www.asscon.de/en/products/vp310/">ASSCON</a> (Starting at approx 8000 EUR)</li>
    <li><a href="https://shop.pcb-arts.com/products/vapor-phase-one">PCB Arts</a> (Starting at approx 5000 EUR)</li>
</ul>

<h2>Modified Toaster Ovens</h2>
<ul>
    <li><a href="https://www.whizoo.com/">Whizoo</a> (Starting at 139 USD)</li>
    <li><a href="https://apollo.open-resource.org/mission:resources:picoreflow">picoReflow</a> (DIY)</li>
</ul>
