---
layout: ecetb
title: E12 Values
---
<h1>{{ page.title }}</h1>

<table class="eseries">
    <tr>
        <th align="left"></th>
        <th align="left" colspan="4">E12 values (10% tolerance)</th>
    </tr>
    <tr>
        <th align="left">1.X</th>
        <td align="right"> 1.0</td>
        <td align="right"> 1.2</td>
        <td align="right"> 1.5</td>
        <td align="right"> 1.8</td>
    </tr>
    <tr>
        <th align="left">2.X</th>
        <td align="right"> 2.2</td>
        <td align="right"> 2.7</td>
    </tr>
    <tr>
        <th align="left">3.X</th>
        <td align="right"> 3.3</td>
        <td align="right"> 3.9</td>
    </tr>
    <tr>
        <th align="left">4.X</th>
        <td align="right"> 4.7</td>
    </tr>
    <tr>
        <th align="left">5.X</th>
        <td align="right"> 5.6</td>
    </tr>
    <tr>
        <th align="left">6.X</th>
        <td align="right"> 6.8</td>
    </tr>
    <tr>
        <th align="left">8.X</th>
        <td align="right"> 8.2</td>
    </tr>
</table>
