---
layout: ecetb
title: E192 Values
---
<h1>{{ page.title }}</h1>

<table class="eseries">
    <tr>
        <th></th>
        <th align="left" colspan="34">E192 values (<=0.5% tolerance)</th>
    </tr>
    <tr>
        <th align="left">1.0X - 1.4X</th>
        <td align="right"> 1.00</td>
        <td align="right"> 1.01</td>
        <td align="right"> 1.02</td>
        <td align="right"> 1.04</td>
        <td align="right"> 1.05</td>
        <td align="right"> 1.06</td>
        <td align="right"> 1.07</td>
        <td align="right"> 1.09</td>
        <td align="right"> 1.10</td>
        <td align="right"> 1.11</td>
        <td align="right"> 1.13</td>
        <td align="right"> 1.14</td>
        <td align="right"> 1.15</td>
        <td align="right"> 1.17</td>
        <td align="right"> 1.18</td>
        <td align="right"> 1.20</td>
        <td align="right"> 1.21</td>
        <td align="right"> 1.23</td>
        <td align="right"> 1.24</td>
        <td align="right"> 1.26</td>
        <td align="right"> 1.27</td>
        <td align="right"> 1.29</td>
        <td align="right"> 1.30</td>
        <td align="right"> 1.32</td>
        <td align="right"> 1.33</td>
        <td align="right"> 1.35</td>
        <td align="right"> 1.37</td>
        <td align="right"> 1.38</td>
        <td align="right"> 1.40</td>
        <td align="right"> 1.42</td>
        <td align="right"> 1.43</td>
        <td align="right"> 1.45</td>
        <td align="right"> 1.47</td>
        <td align="right"> 1.49</td>
    </tr>
    <tr>
        <th align="left">1.5X - 1.9X</th>
        <td align="right"> 1.50</td>
        <td align="right"> 1.52</td>
        <td align="right"> 1.54</td>
        <td align="right"> 1.56</td>
        <td align="right"> 1.58</td>
        <td align="right"> 1.60</td>
        <td align="right"> 1.62</td>
        <td align="right"> 1.64</td>
        <td align="right"> 1.65</td>
        <td align="right"> 1.67</td>
        <td align="right"> 1.69</td>
        <td align="right"> 1.72</td>
        <td align="right"> 1.74</td>
        <td align="right"> 1.76</td>
        <td align="right"> 1.78</td>
        <td align="right"> 1.80</td>
        <td align="right"> 1.82</td>
        <td align="right"> 1.84</td>
        <td align="right"> 1.87</td>
        <td align="right"> 1.89</td>
        <td align="right"> 1.91</td>
        <td align="right"> 1.93</td>
        <td align="right"> 1.96</td>
        <td align="right"> 1.98</td>
    </tr>
    <tr>
        <th align="left">2.XX</th>
        <td align="right"> 2.00</td>
        <td align="right"> 2.03</td>
        <td align="right"> 2.05</td>
        <td align="right"> 2.08</td>
        <td align="right"> 2.10</td>
        <td align="right"> 2.13</td>
        <td align="right"> 2.15</td>
        <td align="right"> 2.18</td>
        <td align="right"> 2.21</td>
        <td align="right"> 2.23</td>
        <td align="right"> 2.26</td>
        <td align="right"> 2.29</td>
        <td align="right"> 2.32</td>
        <td align="right"> 2.34</td>
        <td align="right"> 2.37</td>
        <td align="right"> 2.40</td>
        <td align="right"> 2.43</td>
        <td align="right"> 2.46</td>
        <td align="right"> 2.49</td>
        <td align="right"> 2.52</td>
        <td align="right"> 2.55</td>
        <td align="right"> 2.58</td>
        <td align="right"> 2.61</td>
        <td align="right"> 2.64</td>
        <td align="right"> 2.67</td>
        <td align="right"> 2.71</td>
        <td align="right"> 2.74</td>
        <td align="right"> 2.77</td>
        <td align="right"> 2.80</td>
        <td align="right"> 2.84</td>
        <td align="right"> 2.87</td>
        <td align="right"> 2.91</td>
        <td align="right"> 2.94</td>
        <td align="right"> 2.98</td>
    </tr>
    <tr>
        <th align="left">3.XX</th>
        <td align="right"> 3.01</td>
        <td align="right"> 3.05</td>
        <td align="right"> 3.09</td>
        <td align="right"> 3.12</td>
        <td align="right"> 3.16</td>
        <td align="right"> 3.20</td>
        <td align="right"> 3.24</td>
        <td align="right"> 3.28</td>
        <td align="right"> 3.32</td>
        <td align="right"> 3.36</td>
        <td align="right"> 3.40</td>
        <td align="right"> 3.44</td>
        <td align="right"> 3.48</td>
        <td align="right"> 3.52</td>
        <td align="right"> 3.57</td>
        <td align="right"> 3.61</td>
        <td align="right"> 3.65</td>
        <td align="right"> 3.70</td>
        <td align="right"> 3.74</td>
        <td align="right"> 3.79</td>
        <td align="right"> 3.83</td>
        <td align="right"> 3.88</td>
        <td align="right"> 3.92</td>
        <td align="right"> 3.97</td>
    </tr>
    <tr>
        <th align="left">4.XX</th>
        <td align="right"> 4.02</td>
        <td align="right"> 4.07</td>
        <td align="right"> 4.12</td>
        <td align="right"> 4.17</td>
        <td align="right"> 4.22</td>
        <td align="right"> 4.27</td>
        <td align="right"> 4.32</td>
        <td align="right"> 4.37</td>
        <td align="right"> 4.42</td>
        <td align="right"> 4.48</td>
        <td align="right"> 4.53</td>
        <td align="right"> 4.59</td>
        <td align="right"> 4.64</td>
        <td align="right"> 4.70</td>
        <td align="right"> 4.75</td>
        <td align="right"> 4.81</td>
        <td align="right"> 4.87</td>
        <td align="right"> 4.93</td>
        <td align="right"> 4.99</td>
    </tr>
    <tr>
        <th align="left">5.XX</th>
        <td align="right"> 5.05</td>
        <td align="right"> 5.11</td>
        <td align="right"> 5.17</td>
        <td align="right"> 5.23</td>
        <td align="right"> 5.30</td>
        <td align="right"> 5.36</td>
        <td align="right"> 5.42</td>
        <td align="right"> 5.49</td>
        <td align="right"> 5.56</td>
        <td align="right"> 5.62</td>
        <td align="right"> 5.69</td>
        <td align="right"> 5.76</td>
        <td align="right"> 5.83</td>
        <td align="right"> 5.90</td>
        <td align="right"> 5.97</td>
    </tr>
    <tr>
        <th align="left">6.XX</th>
        <td align="right"> 6.04</td>
        <td align="right"> 6.12</td>
        <td align="right"> 6.19</td>
        <td align="right"> 6.26</td>
        <td align="right"> 6.34</td>
        <td align="right"> 6.42</td>
        <td align="right"> 6.49</td>
        <td align="right"> 6.57</td>
        <td align="right"> 6.65</td>
        <td align="right"> 6.73</td>
        <td align="right"> 6.81</td>
        <td align="right"> 6.90</td>
        <td align="right"> 6.98</td>
    </tr>
    <tr>
        <th align="left">7.XX</th>
        <td align="right"> 7.06</td>
        <td align="right"> 7.15</td>
        <td align="right"> 7.23</td>
        <td align="right"> 7.32</td>
        <td align="right"> 7.41</td>
        <td align="right"> 7.50</td>
        <td align="right"> 7.59</td>
        <td align="right"> 7.68</td>
        <td align="right"> 7.77</td>
        <td align="right"> 7.87</td>
        <td align="right"> 7.96</td>
    </tr>
    <tr>
        <th align="left">8.XX</th>
        <td align="right"> 8.06</td>
        <td align="right"> 8.16</td>
        <td align="right"> 8.25</td>
        <td align="right"> 8.35</td>
        <td align="right"> 8.45</td>
        <td align="right"> 8.56</td>
        <td align="right"> 8.66</td>
        <td align="right"> 8.76</td>
        <td align="right"> 8.87</td>
        <td align="right"> 8.98</td>
    </tr>
    <tr>
        <th align="left"> 9.XX</th>
        <td align="right"> 9.09</td>
        <td align="right"> 9.20</td>
        <td align="right"> 9.31</td>
        <td align="right"> 9.42</td>
        <td align="right"> 9.53</td>
        <td align="right"> 9.65</td>
        <td align="right"> 9.76</td>
        <td align="right"> 9.88</td>
    </tr>
</table>
