---
layout: ecetb
title: E24 Values
---
<h1>{{ page.title }}</h1>

<table class="eseries">
    <tr>
        <th align="left"></th>
        <th align="left" colspan="7">E24 values (5% tolerance)</th>
    </tr>
    <tr>
        <th align="left">1.XX</th>
        <td align="right"> 1.0</td>
        <td align="right"> 1.1</td>
        <td align="right"> 1.2</td>
        <td align="right"> 1.3</td>
        <td align="right"> 1.5</td>
        <td align="right"> 1.6</td>
        <td align="right"> 1.8</td>
    </tr>
    <tr>
        <th align="left">2.XX</th>
        <td align="right"> 2.0</td>
        <td align="right"> 2.2</td>
        <td align="right"> 2.4</td>
        <td align="right"> 2.7</td>
    </tr>
    <tr>
        <th align="left">3.XX</th>
        <td align="right"> 3.0</td>
        <td align="right"> 3.3</td>
        <td align="right"> 3.6</td>
        <td align="right"> 3.9</td>
    </tr>
    <tr>
        <th align="left">4.XX</th>
        <td align="right"> 4.3</td>
        <td align="right"> 4.7</td>
    </tr>
    <tr>
        <th align="left">5.XX</th>
        <td align="right"> 5.1</td>
        <td align="right"> 5.6</td>
    </tr>
    <tr>
        <th align="left">6.XX</th>
        <td align="right"> 6.2</td>
        <td align="right"> 6.8</td>
    </tr>
    <tr>
        <th align="left">7.XX</th>
        <td align="right"> 7.5</td>
    </tr>
    <tr>
        <th align="left">8.XX</th>
        <td align="right"> 8.2</td>
    </tr>
    <tr>
        <th align="left">9.XX</th>
        <td align="right"> 9.1</td>
    </tr>
</table>
