---
layout: ecetb
title: E6 Values
---
<h1>{{ page.title }}</h1>

<table class="eseries">
    <tr>
        <th align="left"></th>
        <th align="left" colspan="2">E6 values (20% tolerance)</th>
    </tr>
    <tr>
        <th align="left">1.X</th>
        <td> 1.0</td>
        <td> 1.5</td>
    </tr>
    <tr>
        <th align="left">2.X</th>
        <td> 2.2</td>
    </tr>
    <tr>
        <th align="left">3.X</th>
        <td> 3.3</td>
    </tr>
    <tr>
        <th align="left">4.X</th>
        <td> 4.7</td>
    </tr>
    <tr>
        <th align="left">6.X</th>
        <td> 6.8</td>
    </tr>
</table>
