---
layout: ecetb
title: E96 Values
---
<h1>{{ page.title }}</h1>

<table class="eseries">
    <tr>
        <th align="left"></th>
        <th align="left" colspan="29">E96 values (1% tolerance)</th>
    </tr>
    <tr>
        <th align="left">1.XX</th>
        <td align="right">1.00</td>
        <td align="right"> 1.02</td>
        <td align="right"> 1.05</td>
        <td align="right"> 1.07</td>
        <td align="right"> 1.10</td>
        <td align="right"> 1.13</td>
        <td align="right"> 1.15</td>
        <td align="right"> 1.18</td>
        <td align="right"> 1.21</td>
        <td align="right"> 1.24</td>
        <td align="right"> 1.27</td>
        <td align="right"> 1.30</td>
        <td align="right"> 1.33</td>
        <td align="right"> 1.37</td>
        <td align="right"> 1.40</td>
        <td align="right"> 1.43</td>
        <td align="right"> 1.47</td>
        <td align="right"> 1.50</td>
        <td align="right"> 1.54</td>
        <td align="right"> 1.58</td>
        <td align="right"> 1.62</td>
        <td align="right"> 1.65</td>
        <td align="right"> 1.69</td>
        <td align="right"> 1.74</td>
        <td align="right"> 1.78</td>
        <td align="right"> 1.82</td>
        <td align="right"> 1.87</td>
        <td align="right"> 1.91</td>
        <td align="right"> 1.96</td>
    </tr>
    <tr>
        <th align="left">2.XX</th>
        <td align="right"> 2.00</td>
        <td align="right"> 2.05</td>
        <td align="right"> 2.10</td>
        <td align="right"> 2.15</td>
        <td align="right"> 2.21</td>
        <td align="right"> 2.26</td>
        <td align="right"> 2.32</td>
        <td align="right"> 2.37</td>
        <td align="right"> 2.43</td>
        <td align="right"> 2.49</td>
        <td align="right"> 2.55</td>
        <td align="right"> 2.61</td>
        <td align="right"> 2.67</td>
        <td align="right"> 2.74</td>
        <td align="right"> 2.80</td>
        <td align="right"> 2.87</td>
        <td align="right"> 2.94</td>
    </tr>
    <tr>
        <th align="left">3.XX</th>
        <td align="right"> 3.01</td>
        <td align="right"> 3.09</td>
        <td align="right"> 3.16</td>
        <td align="right"> 3.24</td>
        <td align="right"> 3.32</td>
        <td align="right"> 3.40</td>
        <td align="right"> 3.48</td>
        <td align="right"> 3.57</td>
        <td align="right"> 3.65</td>
        <td align="right"> 3.74</td>
        <td align="right"> 3.83</td>
        <td align="right"> 3.92</td>
    </tr>
    <tr>
        <th align="left">4.XX</th>
        <td align="right"> 4.02</td>
        <td align="right"> 4.12</td>
        <td align="right"> 4.22</td>
        <td align="right"> 4.32</td>
        <td align="right"> 4.42</td>
        <td align="right"> 4.53</td>
        <td align="right"> 4.64</td>
        <td align="right"> 4.75</td>
        <td align="right"> 4.87</td>
        <td align="right"> 4.99</td>
    </tr>
    <tr>
        <th align="left">5.XX</th>
        <td align="right"> 5.11</td>
        <td align="right"> 5.23</td>
        <td align="right"> 5.36</td>
        <td align="right"> 5.49</td>
        <td align="right"> 5.62</td>
        <td align="right"> 5.76</td>
        <td align="right"> 5.90</td>
    </tr>
    <tr>
        <th align="left">6.XX</th>
        <td align="right"> 6.04</td>
        <td align="right"> 6.19</td>
        <td align="right"> 6.34</td>
        <td align="right"> 6.49</td>
        <td align="right"> 6.65</td>
        <td align="right"> 6.81</td>
        <td align="right"> 6.98</td>
    </tr>
    <tr>
        <th align="left">7.XX</th>
        <td align="right"> 7.15</td>
        <td align="right"> 7.32</td>
        <td align="right"> 7.50</td>
        <td align="right"> 7.68</td>
        <td align="right"> 7.87</td>
    </tr>
    <tr>
        <th align="left">8.XX</th>
        <td align="right"> 8.06</td>
        <td align="right"> 8.25</td>
        <td align="right"> 8.45</td>
        <td align="right"> 8.66</td>
        <td align="right"> 8.87</td>
    </tr>
    <tr>
        <th align="left">9.XX</th>
        <td align="right"> 9.09</td>
        <td align="right"> 9.31</td>
        <td align="right"> 9.53</td>
        <td align="right"> 9.76</td>
    </tr>
</table>
