---
layout: ecetb
title: NASA EEE-INST-002
use_math: true
---
<h1>NASA EEE-INST-002 Wire Current Rating</h1>

<h2>Determining the Current Rating</h2>

<h2>Reference Table</h2>
<p>
    Conditions are single wire, 70°C ambient temperature, hard vacuum of 10-6 torr, 200°C rated wire:
    <ul>
        <li>For 150°C wire, use 80% of values shown in the table</li>
        <li>For 135°C wire, use 70% of values shown in the table</li>
        <li>For 260°C wire, 115% of values shown in the table may be used</li>
    </ul>
</p>

<table>
    <tr>
        <th title="Field #1">Wire Size (AWG)</th>
        <th title="Field #2">Single-stranded Current (A)</th>
        <th title="Field #3">Multi-stranded Current</th>
    </tr>
    <tr>
        <td align="right">30</td>
        <td align="right">1.3</td>
        <td align="right">0.7</td>
    </tr>
    <tr>
        <td align="right">28</td>
        <td align="right">1.8</td>
        <td align="right">1.0</td>
    </tr>
    <tr>
        <td align="right">26</td>
        <td align="right">2.5</td>
        <td align="right">1.4</td>
    </tr>
    <tr>
        <td align="right">24</td>
        <td align="right">3.3</td>
        <td align="right">2.0</td>
    </tr>
    <tr>
        <td align="right">22</td>
        <td align="right">4.5</td>
        <td align="right">2.5</td>
    </tr>
    <tr>
        <td align="right">20</td>
        <td align="right">6.5</td>
        <td align="right">3.7</td>
    </tr>
    <tr>
        <td align="right">18</td>
        <td align="right">9.2</td>
        <td align="right">5.0</td>
    </tr>
    <tr>
        <td align="right">16</td>
        <td align="right">13</td>
        <td align="right">6.5</td>
    </tr>
    <tr>
        <td align="right">14</td>
        <td align="right">19</td>
        <td align="right">8.5</td>
    </tr>
    <tr>
        <td align="right">12</td>
        <td align="right">25</td>
        <td align="right">11</td>
    </tr>
    <tr>
        <td align="right">10</td>
        <td align="right">33</td>
        <td align="right">16</td>
    </tr>
    <tr>
        <td align="right">8</td>
        <td align="right">44</td>
        <td align="right">23</td>
    </tr>
    <tr>
        <td align="right">6</td>
        <td align="right">60</td>
        <td align="right">30</td>
    </tr>
    <tr>
        <td align="right">4</td>
        <td align="right">81</td>
        <td align="right">40</td>
    </tr>
    <tr>
        <td align="right">2</td>
        <td align="right">108</td>
        <td align="right">50</td>
    </tr>
    <tr>
        <td align="right">0</td>
        <td align="right">147</td>
        <td align="right">75</td>
    </tr>
    <tr>
        <td align="right">00</td>
        <td align="right">169</td>
        <td align="right">87</td>
    </tr>
</table>
