---
layout: ecetb
title: Wire
use_math: true
---
<h1>Electrical Wire</h1>

<h2>Current Limits</h2>

<h2>Wire Sizes</h2>
<table>
    <tr>
        <th>Wire Size (AWG)</th>
        <th>Wire Size (mm<sup>2</sup>)</th>
        <th>Single-strand Diameter (mm)</th>
        <th>Multi-strand Diameter (mm)</th>
        <th>Resistance (mΩ/m)</th>
    </tr>
    <tr>
        <td>30</td>
        <td>0.051</td>
        <td>0.254</td>
        <td>0.287</td>
        <td>338.6</td>
    </tr>
    <tr>
        <td>28</td>
        <td>0.081</td>
        <td>0.32</td>
        <td>0.361</td>
        <td>212.9</td>
    </tr>
    <tr>
        <td>26</td>
        <td>0.129</td>
        <td>0.404</td>
        <td>0.287</td>
        <td>133.9</td>
    </tr>
    <tr>
        <td>24</td>
        <td>0.205</td>
        <td>0.511</td>
        <td>0.287</td>
        <td>84.29</td>
    </tr>
    <tr>
        <td>22</td>
        <td>0.326</td>
        <td>0.643</td>
        <td>0.287</td>
        <td>52.65</td>
    </tr>
    <tr>
        <td>20</td>
        <td>0.518</td>
        <td>0.813</td>
        <td>0.287</td>
        <td>33.3</td>
    </tr>
    <tr>
        <td>18</td>
        <td>0.823</td>
        <td>1.024</td>
        <td>1.156</td>
        <td>20.95</td>
    </tr>
    <tr>
        <td>16</td>
        <td>1.309</td>
        <td>1.29</td>
        <td>1.458</td>
        <td>13.18</td>
    </tr>
    <tr>
        <td>14</td>
        <td>2.081</td>
        <td>1.628</td>
        <td>1.839</td>
        <td>8.284</td>
    </tr>
    <tr>
        <td>12</td>
        <td>3.309</td>
        <td>2.052</td>
        <td>2.319</td>
        <td>5.21</td>
    </tr>
    <tr>
        <td>10</td>
        <td>5.261</td>
        <td>2.588</td>
        <td>2.924</td>
        <td>3.277</td>
    </tr>
    <tr>
        <td>8</td>
        <td>8.366</td>
        <td>3.264</td>
        <td>3.688</td>
        <td>2.061</td>
    </tr>
    <tr>
        <td>6</td>
        <td>13.3</td>
        <td>4.115</td>
        <td>4.651</td>
        <td>1.296</td>
    </tr>
    <tr>
        <td>4</td>
        <td>21.15</td>
        <td>5.189</td>
        <td>5.865</td>
        <td>0.815</td>
    </tr>
    <tr>
        <td>2</td>
        <td>33.63</td>
        <td>6.543</td>
        <td>7.394</td>
        <td>0.513</td>
    </tr>
    <tr>
        <td>0</td>
        <td>53.48</td>
        <td>8.253</td>
        <td>9.324</td>
        <td>0.322</td>
    </tr>
    <tr>
        <td>00</td>
        <td>67.43</td>
        <td>9.266</td>
        <td>10.47</td>
        <td>0.256</td>
    </tr>
</table>

<h2>AWG-Metric Conversion</h2>
<p>
    Dimensions of AWG electrical wire are defined by the ASTM B258 standard. Dimensions of metric electrical wire are
    defined by the IEC 60228 standard. The following equation defines the equivalence between the two standards:
</p>
<div class="eq">
    $$\begin{equation}
    metric (mm^2) = 0.012668 \cdot 92^{\frac{36-AWG}{19.5}}
    \label{eq:wire_conversion}
    \end{equation}$$
</div>
