---
layout: ecetb
title: Wire Insulation Materials
---
<h1>Electrical Wire Insulation Materials</h1>
<table>
    <tr>
        <th>Material</th>
        <th>Temperature Range</th>
        <th>Thermal Resistance (K * m / W)</th>
        <th>Emissivity</th>
        <th>Dielectric Constant</th>
        <th>Loss Tangent</th>
    </tr>
    <tr>
        <td>ETFE (Tefzel)</td>
        <td>-200°C to 150°C or 200°C</td>
        <td>5.56</td>
        <td>0.89</td>
        <td>2.6</td>
        <td>4.1e-3</td>
    </tr>
    <tr>
        <td>Polyalkene</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Polyimide (Kapton)</td>
        <td>-269°C to 400°C</td>
        <td>1.65</td>
        <td>0.95</td>
        <td>5.74</td>
        <td>1.3e-2</td>
    </tr>
    <tr>
        <td>PTFE (Teflon) & FEP</td>
        <td>-90°C to 200°C or 260°C</td>
        <td>3.33</td>
        <td>0.92</td>
        <td>2.1</td>
        <td>1e-4</td>
    </tr>
    <tr>
        <td>PVC</td>
        <td>-55°C to 105°C</td>
        <td>6.37</td>
        <td>0.92</td>
        <td>3.13</td>
        <td>4e-2</td>
    </tr>
    <tr>
        <td>Silicone Rubber</td>
        <td>-90°C to 200°C</td>
        <td>0.63</td>
        <td>0.68</td>
        <td>2.6</td>
        <td></td>
    </tr>
</table>

<h2>NASA Parts Selection List Wire Insulation Selection Guidelines</h2>
<table>
    <tr>
        <th>Material</th>
        <th>Advantages</th>
        <th>Disadvantages</th>
    </tr>
    <tr>
        <td>FEP & PTFE</td>
        <td>
            <ul>
                <li>Excellent high temperature properties.  PTFE Teflon is preferred for solder applications.  FEP is preferred for jacket material.</li>
                <li>Non-flammable</li>
                <li>Good outgassing characteristics</li>
                <li>Most flexible of all insulations</li>
                <li>Good weatherability, resists moisture absorption and atomic oxygen erosion</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Susceptible to cold flow when stressed (bent) over tight radius or when laced too tightly.</li>
                <li>Degraded by solar radiation above 5 x 10<sup>5</sup> RADS.</li>
                <li>FEP has poor cut through resistance</li>
                <li>Heaviest insulation</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>ETFE (Tefzel)</td>
        <td>
            <ul>
                <li>Withstands physical abuse during and after installation</li>
                <li>Good high and low temperature properties</li>
                <li>High flex life</li>
                <li>Good outgassing characteristics</li>
                <li>Fair cold flow properties</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Some ETFE insulations fail flammability in a 30% oxygen environment</li>
                <li>Insulation tends to soften at high temperature</li>
                <li>Degraded by gamma radiation above 10<sup>6</sup> RADS</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Crosslinked ETFE (Tefzel)</td>
        <td>
            <ul>
                <li>Higher strength than normal ETFE</li>
                <li>Resistant to cold flow and abrasion</li>
                <li>More resistant to radiation effects (up to 5 x 10<sup>7</sup> RADS)</li>
                <li>Higher maximum temperature than normal ETFE (150°C for tin plating, 200°C for silver plating)</li>
                <li>Good outgassing characteristics</li></ul>
        </td>
        <td>
            <ul>
                <li>Some ETFE insulations fail flammability in a 30% oxygen environment</li>
                <li>Less flexible than extruded ETFE</li>
                <li>More difficult to work with than PTFE Teflon</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Polyimide (Kapton)</td>
        <td>
            <ul>
                <li>Lightest weight wire insulation material.  Commonly used with FEP  or PTFE Teflon to form layered insulation tapes</li>
                <li>Excellent physical thermal and electric properties.  Excellent cut-through resistance and cold flow resistance</li>
                <li>Excellent radiation resistance (up to 5 x 10<sup>9</sup> RADS</li><li>Good outgassing characteristics</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Inflexibility - difficult to strip</li>
                <li>Absorbs moisture.  Degraded by atomic oxygen.  Poor weatherability</li>
                <li>Prone to wet-arc and dry-arc tracking from abrasions and cuts</li>
                <li>More difficult to flex</li><li>Not stable to ultraviolet radiation</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Crosslinked Polyalkene</td>
        <td>
            <ul>
                <li>Dual extrusion which is fused by sintering.  Combines excellent abrasion and cut through resistance 
                    of Polyvinylidene Fluoride (PVDF, PVF<sub>2</sub>-Penwalt Corp. Kynar) with Polyolefin for greater 
                    flexibility and improved heat resistance.  Polyalkene is used mainly as a primary insulation under 
                    an outer jacket such as crosslinked ETFE or crosslinked PVDF/PVF<sub>2</sub></li>
                <li>High dielectric constant, used in high voltage applications</li><li>PVDF has good radiation 
                    resistance (up to 10<sup>8</sup> RADS)</li>
                <li>More resistant to cold flow</li>
                <li>Good outgassing characteristics</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Lower maximum conductor temperature rating (135°C for GSFC S-311-P-13, 150°C for MIL-W-81044)</li>
                <li>Reduced flexibility</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Silicone Rubber</td>
        <td>
            <ul>
                <li>Excellent flexibility at low temperatures</li>
                <li>Excellent high voltage corona resistance</li>
                <li>Good radiation resistance (up to 10<sup>8</sup> RADS)</li>
                <li>Good cold flow resistance</li></ul>
        </td>
        <td>
            <ul>
                <li>Poor cut through resistance, mechanical toughness, and fluid resistance</li>
                <li>Must be processed for outgassing control</li><li>Flammable</li>
                <li>No standard silicon rubber insulated wire or cable</li>
            </ul>
        </td>
    </tr>
</table>
