<div class="ecetb_sidenav">
    <ul>
        {% for item in site.data.ecetb_subjects %}
            <li>
                <a href="{{ item.link }}">{{ item.name }}</a>
                <ul>
                    {% assign articles = site.data.ecetb_articles | where: "category",item.name %}
                    {% for article in articles %}
                        <li><a href="{{ article.link }}">{{ article.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>