<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      showProcessingMessages: false,
      messageStyle: 'none',
      tex2jax: {
        inlineMath: [['$','$']],
        displayMath: [['$$','$$']],
        processEnvironments: false
      },
      TeX: {
        equationNumbers: {
          autoNumber: "AMS"
        }
      }
    });
</script>
<!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> -->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
