<div class="nav">
    <ul>
        {% for item in site.data.navigation %}
            <li>
                <a href="{{ item.link }}">{{ item.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>