---
layout: ecetb
title: Gaussian Statistics
use_math: true
---

{% assign eqn_count = 1 %}

<h1>Gaussian Statistics</h1>
<p>
    The Gaussian distribution is likely the most-used statistical distribution. The distribution is defined
    using two parameters: the distribution mean (μ) and the distribution standard distribution (σ). Another
    useful parameter is the distribution variance (σ<sup>2</sup>). The Gaussian is also known as the normal
    distribution. The general equation for a Gaussian distribution is expressed in Equation $\eqref{eq:gaussian_dist}$:
</p>
<div class="eq">
    $$\begin{equation}
    f(x) = \frac{1}{\sigma \sqrt{2 \pi}} e^{-\frac{1}{2} (\frac{x-\mu}{\sigma})^2}
    \label{eq:gaussian_dist}
    \end{equation}$$
</div>
<p>
    The standard Gaussian distribution is a normalized distribution for which the integral from $-\infty$ to
    $+\infty$ gives a result of 1. It has a mean of 0 and a standard deviation of 1. See the following picture
    of a standard Gaussian distribution.
</p>
<img class="figure" style="display: block; margin-left: auto; margin-right: auto; width: 30%;"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Standard_deviation_diagram.svg/350px-Standard_deviation_diagram.svg.png"
    alt="Standard Gaussian distribution"> 

<h2>Parameter Definitions</h2>

<h3>Distribution Mean</h3>
<p>
    The distribution mean is the average of all samples composing the distribution. The distribution mean is defined as:
</p>
<div class="eq">
    $$\begin{equation}
    \mu = \frac{\sum_{k=1}^n x_k}{n}
    \label{eq:gaussian_mean}
    \end{equation}$$
    <ul>
        where:
        <li>$k$ is the sample index</li>
        <li>$n$ is the number of samples</li>
        <li>$x_k$ is the $k_{th}$ sample</li>
    </ul>
</div>

<h3>Distribution Variance</h3>
<p>
    The distribution variance is the average of the squared offsets between the samples and the distribution mean. The
    equation used to obtain the distribution variance will depend on if the distribution's data is the entire analyzed
    population or if it is only a fraction of it. This difference is minor but useful; a correction factor is introduced
    if the data is not the entire population. If all values of a population are used in these calculations, the
    distribution variance is defined as:</p>
<div class="eq">
    $$\begin{equation}
    \sigma^2 = \frac{\sum_{k=1}^n (x_k-\mu)^2}{n}
    \label{eq:gaussian_variance_pop}
    \end{equation}$$
    <ul>
        where:
        <li>$k$ is the sample index</li>
        <li>$n$ is the number of samples</li>
        <li>$x_k$ is the $k_{th}$ sample</li>
        <li>$\mu$ is the distribution mean</li>
    </ul>
</div>

<p>
    If only a few values of a larger population are used in these calculations, the distribution variance is defined as:
</p>
<div class="eq">
    $$\begin{equation}
    \sigma^2 = \frac{\sum_{k=1}^n (x_k-\mu)^2}{n-1}
    \label{eq:gaussian_variance_sample}
    \end{equation}$$
    <ul>
        where:
        <li>$k$ is the sample index</li>
        <li>$n$ is the number of samples</li>
        <li>$x_k$ is the $k_{th}$ sample</li>
        <li>$\mu$ is the distribution mean</li>
    </ul>
</div>

<h3>Distribution Standard Deviation</h3>
<p>
    The distribution standard deviation is the square root of the distribution variance. In other words, the standard
    deviation is the RMS value of all offsets between the distribution data and the distribution mean. The distribution
    standard deviation is defined as:</p>
<div class="eq">
    $$\begin{equation}
    \sigma = \sqrt{\sigma^2}
    \label{eq:gaussian_std_deviation}
    \end{equation}$$
    <ul>
        where:
        <li>$\sigma^2$ is the distribution variance</li>
    </ul>
</div>

<h2>Deviation Coverage</h2>
<table style="text-align: center;">
    <tr>
        <th><i>x</i></th>
        <th>Covered population</th>
    </tr>
    <tr>
        <td>1σ</td>
        <td>68.269%</td>
    </tr>
    <tr>
        <td>2σ</td>
        <td>95.450%</td>
    </tr>
    <tr>
        <td>3σ</td>
        <td>99.730%</td>
    </tr>
    <tr>
        <td>4σ</td>
        <td>99.994%</td>
    </tr>
    <tr>
        <td>5σ</td>
        <td>99.99994%</td>
    </tr>
    <tr>
        <td>6σ</td>
        <td>99.9999998%</td>
    </tr>
</table>

<h2>Combination of Distributions</h2>
<p>
    The two methods of combining distributions are through addition and multiplication. The addition of two
    distributions is achieved by convolving them. The multiplication of two two distributions is achieved by
    multiplying the distributions.
</p>

<h3>Convolution of Gaussian Distributions</h3>
<p>The convolution of two Gaussian distributions results in a Gaussian distribution. Consider the two following Gaussian distributions:</p>
<div class="eq">
    $$\begin{equation*}
    N(\mu_1,\sigma_1^2), N(\mu_2,\sigma_2^2)
    \end{equation*}$$
</div>

<p>The new Gaussian distribution created by the convolution of these two Gaussian distribution is defined as:</p>
<div class="eq">
    $$\begin{equation}
    N(\mu_c,\sigma_c^2)
    \label{eq:gaussian_conv}
    \end{equation}$$
    <ul>
        where:
        <li>
            <div class="eq">
                $$\begin{equation}
                \mu_c = \mu_1 + \mu_2
                \label{eq:gaussian_conv_mean}
                \end{equation}$$
            </div>
        </li>
        <li>
            <div class="eq">
                $$\begin{equation}
                \sigma_c^2 = \sigma_1^2 + \sigma_2^2
                \label{eq:gaussian_conv_variance}
                \end{equation}$$
            </div>
        </li>
    </ul>
</div>

<h3>Multiplication of Gaussian Distributions</h3>
<p>
    The multiplication of two Gaussian distributions results in a Gaussian distribution. Consider the two following
    Gaussian distributions:
</p>
<div class="eq">
    $$\begin{equation*}
    N(\mu_1,\sigma_1^2), N(\mu_2,\sigma_2^2)
    \end{equation*}$$
</div>
<p>
    The new Gaussian distribution created by the multiplication of these two Gaussian distribution is defined as:
</p>
<div class="eq">
    $$\begin{equation}
    N(\mu_m,\sigma_m^2)
    \label{eq:gaussian_mult}
    \end{equation}$$
    <ul>
        where:
        <li>
            <div class="eq">
                $$\begin{equation}
                \mu_m = \frac{\mu_1 \sigma_2^2 + \mu_2 \sigma_1^2}{\sigma_1^2 + \sigma_2^2}
                \label{eq:gaussian_mult_mean}
                \end{equation}$$
            </div>
        </li>
        <li>
            <div class="eq">
                $$\begin{equation}
                \sigma_m^2 = \frac{1}{\frac{1}{\sigma_1^2} + \frac{1}{\sigma_2^2}}
                \label{eq:gaussian_mult_variance}
                \end{equation}$$
            </div>
        </li>
    </ul>
</div>
