.ecetb_main {
    margin-top: 0px;
    margin-left: 210px;
}

.ecetb_sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #555555;
    overflow-x: hidden;
}

.ecetb_sidenav a {
    padding: 6px 8px 6px 6px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
}

.ecetb_sidenav a:hover {
    background-color: #111111;
}

.ecetb_sidenav ul {
    list-style-type: none
}

.eseries table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}
