.eq {
    font-size: larger;
}

.eq ul {
    font-size: medium;
    text-align: center;
    list-style-type: none
}

.equation {
    display: table;
    width: 100%;
    font-size: 1.5em;
}

.equation-content {
    text-align: center;
    display: table-cell;
}

.equation-dead-space {
    text-align: left;
    display: table-cell;
    width: 10%;
}

.equation-number {
    text-align: right;
    display: table-cell;
    width: 10%;
}
