body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 0 0;
}

main {
  margin: 10px;
}

p {
  font-size: medium;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
}

th {
  border-top: 1px solid black;
}
