.nav div{
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  .nav li {
    list-style-type: none;
    float: left;
  }
  
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    background-color: #111111;
  }