body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 0 0;
}

main {
  margin: 10px;
}

p {
  font-size: medium;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
}

th {
  border-top: 1px solid black;
}

.ecetb_main {
  margin-top: 0px;
  margin-left: 210px;
}

.ecetb_sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: #555555;
  overflow-x: hidden;
}

.ecetb_sidenav a {
  padding: 6px 8px 6px 6px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
}

.ecetb_sidenav a:hover {
  background-color: #111111;
}

.ecetb_sidenav ul {
  list-style-type: none;
}

.eseries table, th, td {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

.eq {
  font-size: larger;
}

.eq ul {
  font-size: medium;
  text-align: center;
  list-style-type: none;
}

.equation {
  display: table;
  width: 100%;
  font-size: 1.5em;
}

.equation-content {
  text-align: center;
  display: table-cell;
}

.equation-dead-space {
  text-align: left;
  display: table-cell;
  width: 10%;
}

.equation-number {
  text-align: right;
  display: table-cell;
  width: 10%;
}

.nav div {
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.nav li {
  list-style-type: none;
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111111;
}

/*# sourceMappingURL=styles.css.map */