<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% if page.use_math %}
      {% include mathjax.html %}
    {% endif %}
    {% if page.custom_css %}
      {% for stylesheet in page.custom_css %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}.css">
      {% endfor %}
    {% endif %}
    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
        <script type="text/javascript" src="{{ site.baseurl }}/assets/js/{{ js_file }}.js"></script>
      {% endfor %}
    {% endif %}
  </head>
  <body>
    {% include navigation.html %}
    <main>
      {{ content }}
    </main>
  </body>
</html>